.central{
    margin: auto;
    display: flex;
}

td{
    padding: 1vh;
    border-bottom: 1px solid rgb(96, 96, 96);
    text-align: justify;
}

.titulo1{
    font-weight: bold;
}
table{
    width: 100vh;
    border: 1px solid rgb(96, 96, 96);
}


